// WHY: Xwayland drag/maximize hacks are wlroots-specific artifacts. Niri's satellite proxy inherently fixes these at the root.

window-rule {
    match app-id=r#"^(?i)(thunar|nwg-look|blueman-manager|org\.fcitx\.fcitx5-config-qt)$"#
    open-floating true
    default-column-width { fixed 800; }
    default-window-height { fixed 600; }
}

window-rule {
    match app-id="kitty" title=r#"^(batctl|impala|bluetui|pulsemixer)$"#
    open-floating true
    default-column-width { fixed 800; }
    default-window-height { fixed 600; }
}

window-rule {
  match app-id=r#"^brave-.*"# title="^_crx_nngceckbapebfimnlniiiahkandclblb$"
  open-floating true
}

window-rule {
    match app-id="kitty"
    opacity 0.85
    // default-column-width { proportion 1.0; }
}

window-rule {
    match app-id="rofi"
    open-floating true
    geometry-corner-radius 16
    clip-to-geometry true
    border {
        off
    }
    focus-ring {
        off
    }
}

window-rule {
  geometry-corner-radius 0
  draw-border-with-background false
  clip-to-geometry true
}
